.container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

body{
    background-image: url("http://www.mathematicshed.com/uploads/1/2/5/7/12572836/4254541_orig.gif");
    background-size: contain;
}
